<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="https://angular.io/assets/images/logos/angular/angular.svg"
      width="30"
      height="30"
    />
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-2">
  <div class="row">
    <div class="jumbotron">
      Welcome to the Angular Microfrontend demo using Webpack 5 Module
      federation This component is part of the shell application, the remote
      components (customer, order, product, tracking) are remotely loaded into
      the application, check the network settings to see these remotes being
      loaded.
    </div>

    <div class="jumbotron col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

{{ title }}
<ul>
  <li><a routerLink="/home"> Remote App </a></li>
  <li><a routerLink="/login">Login </a></li>
  <li><a routerLink="/analytics">Analytics </a></li>
</ul>
<router-outlet></router-outlet>
